section#contact(class="contact")
  div(class="container")
    h2 ご連絡
    div(class="imgWrapper")
      img(src='/assets/img/05.jpg' alt='' layout='fill' objectfit='cover')
    div(class="btnWrapper")
      <button class="button">
        <a href="https://kennetsys.com/wadokenn/01_shokai_soto.html">相談はこちらから</a>
      </button>
    p
      | 相談はフォームに記入します。記入後48時間以内のできるだけ早い時間に記載メールアドレスに返信します。どのようなことでも遠慮なく記入し、送信してください。フォームに記入しても料金は一切発生致しません。
    p
      | 返信メールには「確定した面接日時」(希望面接日時を記入した場合)と面接室(こちら)への入室のための「IDとパスワード」が記載されています。
      | 面接室には貴方の個別相談室スペースが用意されますので、相談内容などお書き頂いて構いません。
    p
      | 個別相談室スペースは、面接予約なしでも、料金などは一切発生せず、3ヶ月間保持されます。ご自分の相談内容など書き込むことで、自ら答えを見つけることもあるでしょうし、書き込むことで相談内容はより明確になることでしょう。
    p
      | なお、面接予約なく3ヶ月経過した時点で貴方の個別相談室は一旦閉鎖させて頂きます。その後も面接予約せず個別相談室スペースを維持する場合は月額1,100円を徴収させて頂きます。
    h3 相談用フォーム
    .imgWrapper
      img(src="/assets/img/06.jpg", alt="")
    .formWrapper
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfR2LQxb6WqZdzYizIm0ado82jzLEq71lBaK2hPC0njgSobBQ/viewform?embedded=true" width="700" height="500" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    //- <br>&nbsp;<br>
    <p class="attention">※こちらに記入してもまだ料金は発生しません。<br>※相談を急ぐ場合は、記入後こちらにご連絡ください。<br>070-8300-2645</p>
