section#news(class="news")
  div(class="container")
    h2 お知らせ
    div(class="imgWrapper")
      img(src='/assets/img/04.jpg' alt='' layout='fill' objectfit='cover')
    dl
      dt
        span その他
        | 2023/03/28
      dd 相談室紹介の動画を掲載しました。
      dt
        span その他
        | 2023/02/27
      dd
        | Google
        | Meetでのリモート面接をおすすめしています。Gmailをお持ちでない方はGmailをお作りください。松本市城山相談室では対面面接もお受けします。
      dt
        span その他
        | 2023/02/25
      dd
        | ホームページをリニューアルしました。
        a(href='https://kennetsys.com') 以前のホームページはこちらです。
        |             内容相違の場合はこの新HPの内容が正しい情報です。旧版HPにはカウンセラーの相談室開設に至る思いなどが記載されています。
