section#top(class="top")
  h2
    | カウンセリングルーム
    br
    |  Wado城山
  p どうぞご相談ください
  div(class="content")
    div.flex-item
      .imgWrapper
        img(src='/assets/img/01.jpg' layout='fill' objectfit='cover' alt='')
      .txtWrapper
        h3 あなたの人生を実りあるものにします
        p
          | Wado城山こころの相談室は、日々のできごとを自分らしくとらえ、あなた自身の力で自信を持って歩むことの実現を援助します。
          br
          |             まず、話してみることで解決への道が開かれます。公認心理師か臨床心理士資格を持つカウンセラーがあなたを支えます。是非ご利用下さい。共に、一歩を踏み出しましょう。
        h3 Wado城山での心理カウンセリングは
        p 言語面接でのカウンセリングの他、希望される方には、出来事の体験の仕方を積極的で自己肯定的に変える効果がある臨床動作法を行っています。臨床動作士資格の所有者があなたの積極的な人生を応援します。
    .flex-item
      .imgWrapper
        img(src='/assets/img/02.jpg' layout='fill' objectfit='cover' alt='')
      .txtWrapper
        h3 相談料金は
        p
          | 相談用フォームによる初回連絡時の料金は発生しません。その後、50分面接2回までを1面接3,000円でお受けします（2023年12月末迄の限定価格）。3回目以降の料金は下段の「料金」を参考にして下さい。初回連絡時と2回の面接で問題が解決することも多いです。
        h3 私たちが担当します
        p
          | 面接を担当するのはカウンセリングルームWado城山に所属するカウンセラーです。
        a(href='https://kennetsys.com/wadokenn/06_kaunsera_wado.html')
          | カウンセラーの紹介はこちら
        h3 相談室所在地
        p
          | 長野県松本市城山と埼玉県宮代町和戸にあります。カウンセリングルームWado城山の由来は地名ですが、同時にWadoは開くと見える和やかな外界への扉、城山は守られていて確かで揺るぎないあなたの心の強さをイメージしています。
    .flex-item
      .imgWrapper
        img(src='/assets/img/14.jpg' layout='fill' objectfit='cover' alt='')
      .txtWrapper
        h3 相談方法
        ul
          li
            p リモート動画面接
            p (Google Meet動画)
          li
            p リモート音声面接
            p (Google Meet音声)
            p(class="attention")
              | ※データ通信利用のため通話料金はかかりません
          li
            p 電話面接
            p(class="attention") ※通常の通話料金が発生します
          li
            p チャット面接
          li
            p 対面面接
            p(class="attention") ※現在城山相談室のみ
        p ◆必要な場合、その他の相談方法にも応じますのでご相談下さい。
    .btnWrapper
      <button class="button">
        <a href="https://kennetsys.com/wadokenn/01_shokai_soto.html">相談はこちらから</a>
      </button>
