footer.l-footer._other
  .l-footer_inner
    //- nav.l-footer_nav
      ul.l-footerNav_list
        li.l-footerNavList_item.list-item_business
          a(href="/" target="_blank" class="blank") ・AGAに興味関心がある方
        li.l-footerNavList_item.list-item_home
          a(href="/business" target="_blank" class="blank") ・美容院・ヘアサロンの方へ
        li.l-footerNavList_item
          a(href="/transaction-law") ・特定商取引法に基づく表記
        li.l-footerNavList_item
          a(href="/privacy") ・プライバシーポリシー
        li.l-footerNavList_item
          a(href="/terms") ・利用規約
  .l-footer_bottom
    //- p.l-footerBottom_txt © 2022 AGAカウンセリングセンター